* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #57287bd6;
  }
  
  .container {
    background: repeating-linear-gradient(
      45deg,
      #3c1d5c 3%,#68359f 9%,
      #3c1d5c 15%,#68359f 21%
      );
    width: 400px;
    padding: 25px;
    border-radius: 15px;
    color: white;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
    
  h1 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: left;
  }
  
  .input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(55, 19, 101, 0.901);
    border-radius: 25px;
    padding: 10px 15px;
    margin-bottom: 25px;
    color: #fff;
  }
  
  
  .input-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: rgba(254, 254, 254, 0.893);
    font-size: 16px;
  }
  
  .input-box button {
    background: white;
    color: #68359f;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .task-box .task {
    background: rgba(255, 255, 255, 0.073);
    border-radius: 10px;
    height: 40px;
    margin-bottom: 15px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /*todo text*/
  #todo-list span {
    flex:1;
    cursor:pointer;
    font-size:1rem;
    transition:color 0.3s ease;
  }
  #todo-list span:hover {
    color: #a3ffea;
  }

  /* delete button*/
  #todo-list button {
    background: #9a0413;
    color:#fff;
    border:none;
    border-radius: 10px;
    padding:8px 12px;
    margin: 8px;
    cursor:pointer;
    align-self: center;
    font-size:0.9rem;
    transition:all 0.3 ease;
  }

  #todo-list button:hover {
    background:#ff6b81;
    transform: scale(1.05);
  }
  #todo-input:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.073);
  }

  #add-button {
    background: linear-gradient(135deg, #68359f, #3c1d5c);
    color: white;
    border: none;
       
  }